html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(75deg, #F8CBA6 50%, #FFE7CC 50%);
  min-height: 615px;
  font-family: 'helvetica neue';
}

.workRedirect{
 
  text-align: center;
}

.redirect{
  padding-top: 80px;
  color:#FFE7CC;
}
.link{
  color: #FFE7CC; 
}

h1 {
  color:#F8CBA6;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: #ECF9FF;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  background-color:#ECF9FF;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid#ECF9FF;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #F8CBA6;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color:#F8CBA6;
  color: #fff;
  font-size: 30px;
  padding-top:1%;
  padding-bottom: 1%;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #F8CBA6;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
